doctype html
html
  head
    title Concerts
    script(src='/jquery/jquery.min.js')
    script(src='/popper/popper.min.js')
    link(rel='stylesheet', type='text/css', href='/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/simplemde/simplemde.min.css')
    script(src='/simplemde/simplemde.min.js')

  body
    include ../common/navbar

    block content

    include ../common/footer