doctype html
html
  head
    title Nhà Hát 5b
    meta(name='keywords', content='nhà hát 5b, nhà hát võ văn tần, nha hat vo van tan, kịch nói,kịch hay,kịch sài gòn,kịch cà phê,chính kịch,hài kịch,bi kịch,kịch 5b,sân khấu nhỏ 5b,Sân Khấu Kịch 5B,sân khấu 5B,Small Drama Theater,Sân Khấu Kịch IDECAF, Sân Khấu Kịch Phú Nhuận, Sân Khấu Kịch Sài Gòn')
    meta(name='description', content='Sân khấu 5B Võ Văn Tần là sân khấu diễn viên không dùng micro, sức chứa khoảng 200 khán giả, cùng ngồi quây quần quanh bục diễn. Điều này giúp 5B rút ngắn khoảng cách giữa diễn viên và người xem, tạo cho các tác phẩm không khí gần gũi, gây hiệu ứng tốt về mặt cảm xúc.')
    link(rel='canonical', href='https://www.nhahat5b.vn/')
    
    link(rel="shortcut icon" type="image/x-icon" href="/stylesheet/image/tab_favicon.ico")
    meta(property='og:title', content='Nhà Hát 5b')
    meta(property='og:image', content='https://i.imgur.com/J2FIZNR.png')
    meta(property='og:description', content='Website chính thức của nhà hát 5b')
    meta(property='og:url', content='https://www.nhahat5b.vn')
    meta(property="fb:app_id" content="369648133723010")


    script(src='/jquery/jquery.min.js' async)
    script(src='/popper/popper.min.js' async)
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/bootstrap.min.js' async)
    script(src='/lazyload/lazyload.min.js')
    script(src='/moment/min/moment.min.js')
    script(src='/tempusdominus/js/tempusdominus-bootstrap-4.min.js')
    link(rel='stylesheet' href='/tempusdominus/css/tempusdominus-bootstrap-4.min.css')
    link(rel='stylesheet' href='/simplemde/simplemde.min.css')
    link(rel='stylesheet' type='text/css', href='/stylesheet/css/main.css')    
    link(rel='stylesheet' type="text/css", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src='/simplemde/simplemde.min.js' async)
    // link(rel='stylesheet', type='text/css', href='/fontawesome/css/all.min.css')    

  body
    #fb-root
    script(async='', defer='', crossorigin='anonymous', src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=369648133723010&autoLogAppEvents=1")
    script.      
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    

    include ../common/navbar

    block content

    .fb-customerchat(page_id="1848774105419685")
    
    include ../common/footer