doctype html
html
  head
    title Concerts
    script(src='/jquery/jquery.min.js')
    script(src='/popper/popper.min.js')
    link(rel='stylesheet', type='text/css', href='/bootstrap/bootstrap.min.css')
    script(src='/moment/moment.js')
    script(src='/tempusdominus/js/tempusdominus-bootstrap-4.min.js')    
    link(rel='stylesheet', href='/tempusdominus/css/tempusdominus-bootstrap-4.min.css')
    link(rel='stylesheet', href='/simplemde/simplemde.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheet/css/main.css')    
    script(src='/simplemde/simplemde.min.js')

  body
    include ../common/navbar

    block content

    include ../common/footer