doctype html
html
  head
    title Nhà Hát 5b
    link(rel="shortcut icon" type="image/x-icon" href="/stylesheet/image/tab_favicon.ico")
    meta(property='og:title', content='Nhà Hát 5b')
    meta(property='og:image', content='https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-9/70206835_2163646517265774_8569928183363665920_o.jpg?_nc_cat=106&_nc_oc=AQl4rVYv7B8ZE3agGy-bBgBajKqfU2WLIfIoAOjcmzvaFo-quQuBR7K9cfz4oBFDs50&_nc_ht=scontent-sin2-2.xx&oh=f1a4cc9776383af93a08891d8f0d02ed&oe=5E1205C1')
    meta(property='og:description', content='Website chính thức của nhà hát 5b')
    meta(property='og:url', content='https://www.nhahat5b.vn')
    

    script(src='/jquery/jquery.min.js')
    script(src='/popper/popper.min.js')
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/moment/moment.js')
    script(src='/tempusdominus/js/tempusdominus-bootstrap-4.min.js')    
    link(rel='stylesheet', href='/tempusdominus/css/tempusdominus-bootstrap-4.min.css')
    link(rel='stylesheet', href='/simplemde/simplemde.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheet/css/main.css')    
    link(rel='stylesheet', type="text/css", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src='/simplemde/simplemde.min.js')
    // link(rel='stylesheet', type='text/css', href='/fontawesome/css/all.min.css')    

  body.body-mobile
    #fb-root
    script(async='', defer='', crossorigin='anonymous', src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=369648133723010&autoLogAppEvents=1")
    script.      
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    

    include ../common/navbar

    block content

    .fb-customerchat(page_id="1848774105419685")
    
    include ../common/footer