.container
  img.img-fluid.image-banner.pt-1(src="stylesheet/image/banner_image.jpg")

  marquee(behavior="scroll" scrollamount="18" onmouseover="this.stop();" onmouseout="this.start();") 
    each concert in concerts
      a(href="/concerts/" + concert._id)
        img.concert-marquee-image.img-fluid(src=concert.img_link)