.container
  img.img-fluid.image-banner.pt-1.lazy(data-src="/stylesheet/image/banner_image.jpg")

  marquee(behavior="scroll" scrollamount="18" onmouseover="this.stop();" onmouseout="this.start();") 
    each concert in concerts
      a(href="/concerts/" + concert._id)
        picture
          source(data-srcset=concert.img_link type="image/webp")

          img.concert-marquee-image.img-fluid.lazy(data-src=concert.img_link)