extends ../layouts/layout

block content
  .contact-page(style="padding-top:1.5em;")
    .container
      .row
        .col-lg-8.col-md-12.col-sm-12.col-12
          h3 Giới Thiệu 
          img(src="stylesheet/image/nha_hat_5b.jpeg")

          p(style="white-space:pre-line;")
            | Nhà hát mà khán giả yêu mến thường gọi là Sân Khấu 5B vì nhà hát tọa lạc tại 5B Võ Văn Tần, Q.3, TP. HCM. Nhà hát được thành lập từ ngày 07/07/1997 theo quyết định số 3443/QĐ_UB_NCVX của UBND TP.Hồ Chí Minh.
            |
            | Tiền thân là câu lạc bộ Sân Khấu Thể Nghiệm được thành lập từ ngày 01/08/1984 theo quyết định số 1900_UB của UBND TP. Hồ Chí Minh.
            |
            | Đây là nhà hát kịch xã hội hóa, tự thu chi, không sống bằng ngân sách Nhà Nước đầu tiên của Thành Phố và cả nước.
            |
            | Là mô hình xã hội hóa hoạt động sân khấu tiêu biểu của Thành Phố suốt 22 năm qua.
            |
            | - Đã dàn dựng biểu diễn cả trăm vở kịch trong nước và nước ngoài.
            |
            | - Đã đào tạo nhiều thế hệ diễn viên trẻ cho sân khấu thành phố.
            |
            | - Đã khẳng định hiệu quả nghệ thuật một loại hình đó là sân khấu nhỏ.
            |
            | - Đã được thưởng Huân chương lao động hạng 3 và nhiều bằng khen, giấy khen trong các kỳ hội diễn và các đợt biểu diễn phục vụ chính trị.
            |
            | - Đặc điểm biểu diễn không dùng micro, khán giả và sân khấu gần gũi, cùng chan hòa giao lưu trong sáng tạo nghệ thuật.
        .col-lg-4.col-md-12.col-sm-12.col-12
          h3 Ban Giám Đốc
          .row
            .col-4
              img(src="stylesheet/image/ngoc_giau.jpg", width="110px", height="110px")
            .col-8
              h5 NSND Trần Ngọc Giàu
              p(style="white-space: pre-line")
                | Chỉ đạo nghệ thuật
                | 
                | Chủ Tịch Hội SKTP
          br
          .row
            .col-4
              img(src="stylesheet/image/my_uyen.jpg", width="110px", height="110px")
            .col-8
              h5 NSƯT Mỹ Uyên
              p(style="white-space: pre-line")
                | Giám đốc
                | 
                | Ủy viên Hội SKTP
          br
          .row
            .col-4
              img(src="stylesheet/image/chanh_truc.jpg", width="110px", height="110px")
            .col-8
              h5 Đạo diễn Chánh Trực
              p(style="white-space: pre-line")
                | Phó giám đốc

      .row
        .col
          h3 Giải Thưởng
          p(style="white-space:pre-line;")
            |Giải thưởng tác phẩm sân khấu của hội nghệ sĩ sân khấu Việt Nam trên sân khấu kịch 5B Võ Văn Tần, Quận 3.
            |
            |
            |Năm 1994: "Tình 281"
            |
            |Năm 1995: "Dạ cổ hoài lang" (Bằng khen Bộ Văn hóa Việt Nam)
            |
            |Năm 1997: "Ngôi nhà của chúng ta"
            |
            |Năm 1998: "Ký ức"
            |
            |Năm 1999: "Nguyệt hạ"
            |
            |Năm 2000: "Yêu thầy"
            |
            |Năm 2001: "Giai điệu tình yêu"
            |
            |Năm 2002: Tham dự Liên hoan Sân khấu Thử nghiệm Quốc lần thứ I tại Hà Nội vở “Nỗi đau nhân loại” Năm 2003: "Bảy sắc cầu vòng"
            |
            |Năm 2004: "Hợp đồng hôn nhân"
            |
            |Năm 2005: "Cõi tình"
            |Giải thưởng tác phẩm sân khấu 2006 giải B (Hội nghệ sĩ sân khấu Việt Nam)
            |
            |Năm 2006 : Một người đi lấy chồng 
            |
            |Năm 2007 : 270 Garm
            |Giải thưởng tác phẩm sân khấu 2008 (Hội nghệ sĩ sân khấu TP.HCM)
            |
            |Năm 2008 : Đôi bờ
            |
            |Năm 2009 : Cánh đồng bất tận
            |Vở diễn H.C.Bạc Liên hoan về "Hình tượng người chiến sĩ CAND" tại Hà Nội 21/9 - 2/10/2010 (H.C.Vàng : Việt Anh, Công Ninh, Mỹ Uyên - H.C.Bạc : C.Minh Đạt, Cát Tường, Việt Hà, Hùng Thuận)
            |
            |Năm 2010 : Đời có đợi anh không?
    .container
        .row
          .col
            h3 Liên Hệ
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.596615735292!2d106.6943633!3d10.7807097!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x20ca21709b9371be!2sSmall+Drama+Theater+Drama+City.+hcm!5e0!3m2!1sen!2s!4v1559458618005!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
