extends ../layouts/layout

block content
  .container
    .image-banner
      img.img-fluid(src="stylesheet/image/banner_image.jpg")


  include concerts
  
  include timelines

  include concertNews

  include referrals

  include referralVideos

  section.artists-page.pt-2
    h2.h1-responsive.font-weight-bold.my-5.pb-2.text-center(style="text-transform: uppercase") Nghệ sĩ nhà hát
    
    include artists
    

  include testimony