extends ../layouts/layout

block content
  .container
    .image-banner
      img.img-fluid(src="stylesheet/image/banner_image.jpg")
  
  .container
    .feature-concert
      .jumbotron
        h1.feature-text Sự kiện nổi bật
  
        