section.referralVideo
  .container
    h2.text-center.pt-4.pb-3(style="text-transform: uppercase;") Video

    #carouselReferralVideos.carousel.slide(data-ride='carousel' data-interval="false")
      .carousel-inner(role="listbox")
        - var divClass = null

        each referralVideo, index in referralVideos
          if (index == 0)
            - divClass = "carousel-item active"
          else
            - divClass = "carousel-item"

          div(class=divClass)
            .row
              .col-sm-1.col-lg-3
              .col-sm-10.col-lg-6
                .card.mt-4
                  .card-body
                    .card-text.pt-2.text-center
                      if (referralVideo.srcType == "Youtube")
                        iframe(width="400" height="315" src=referralVideo.url allowfullscreen)
                      else
                        .fb-video(data-href=referralVideo.url data-width='500' data-height='315' data-show-text='false' data-allowfullscreen='true')

                      .card-title.text-center
                        h3(style="text-transform: uppercase;")= referralVideo.title

                    if session.userId
                      .card-text.pb-2
                        a.btn.btn-primary(href="/referralVideos/" + referralVideo._id + '/edit') Edit

                      form(action="/referralVideos/" + referralVideo._id + "?_method=delete" method="POST")
                        button.btn.btn-danger.pt-2(type="submit" value="Submit" onclick="return confirm('Are you sure to delete?')") Delete
              .col-sm-1.col-lg-3

      a.carousel-control-prev.btn-floating.light-blue.darken-4(href='#carouselReferralVideos', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselReferralVideos', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
