.container
  section.text-center.my-5.pt-5
    h2.h1-responsive.font-weight-bold.my-5(style="text-transform: uppercase;") Đánh Giá

    #carouselTestimony.carousel.slide(data-ride='carousel')
      .carousel-inner
        .carousel-item.active(data-interval='10000')
          .avatar.mx-auto.mb-4
            img.rounded-circle.testimony-avatar(src='https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-9/67104716_927251004282425_4111081767325138944_n.jpg?_nc_cat=106&_nc_oc=AQmEvdmbbp62ZYzA0ZLiBmN8xbc2e7S7YF5SwWNaVh2MGKPxEcPpfTTdQ4uo8jLB1ivtR7jEpyXVacrPZyU22XLC&_nc_ht=scontent.fsgn4-1.fna&oh=9ccd603ed933035ed55ea35bcbdd460a&oe=5DA4FF2C')

          .testimony-content
            | Rất thích cách bố trí không gian xem kịch ở đây. Gần gũi, Tương tác, mang lại nhiều cảm xúc cho khán giả

          h4.font-weight-bold.mt-2 Vu Thanh Truc
          h6.font-weight-bold.my-3 Khán Giả

        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            img.rounded-circle.testimony-avatar(src='https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-9/66636717_2466131980286293_2093765877848604672_n.jpg?_nc_cat=105&_nc_oc=AQlNnNaj0odsaz0rixSEjgJbQfCAfQhq9_7CQiMg8scPCZrHrdAx1gfDmCrJxC_5Qk_QkPkodjICZMf1JQ8otYHo&_nc_ht=scontent.fsgn4-1.fna&oh=77b59a7dcfb81e6259bc858e8ded4313&oe=5DABCA9B')
          .testimony-content  
            | Vở kịch vui vẻ, nhẹ nhàng. ủng hộ sân khấu luôn sáng đèn

          h4.font-weight-bold.mt-2 Nguyễn Khuê 
          h6.font-weight-bold.my-3 Khán Giả

        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            img.rounded-circle.testimony-avatar(src='https://scontent.fsgn4-1.fna.fbcdn.net/v/t1.0-9/66833650_2320257221391629_8113960943253192704_n.jpg?_nc_cat=110&_nc_oc=AQmW5MNnI85d3sRna0xDsf4_07aaALOBOSITFe1YXGPhwEEDWcj6BCEaCJRjnNyNiZN24RILAl0uUE2Lq0YeYiGj&_nc_ht=scontent.fsgn4-1.fna&oh=bc017dd8f1945f55a89f27288db277c7&oe=5DDDBACE')
          .testimony-content
            | Hy vọng rằng sân khấu 5B sẽ vẫn tiếp tục sáng tạo khai thác những chủ đề mới mẻ, để khán giả có dịp thưởng thức những sản phẩm nghệ thuật chất lượng tốt như Diều ơi! nữa nhé!!!^^. Cheer!!!

          h4.font-weight-bold.mt-2 EstherWong ThuyNguyen
          h6.font-weight-bold.my-3 Khán Giả

        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            img.rounded-circle.testimony-avatar(src='https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-9/12662715_982087181869073_6099318793507945804_n.jpg?_nc_cat=111&_nc_oc=AQloidYH6WJ8xqtrDcgLi2oKbJKv-S4F9ptGATWGTly1ftXMB2kr5puMDo7LVM43014&_nc_ht=scontent-sin2-2.xx&oh=5a0a187e87e373c8ec74189a722d0e58&oe=5E0949F8')
          .testimony-content
            | - Chính kịch hay nhất
            br
            | - Diễn viên tâm huyết với nghề
            br
            |  - Bà bầu Mỹ Uyên tuyệt vời!

          h4.font-weight-bold.mt-2 Nguyễn Quỳnh Nga
          h6.font-weight-bold.my-3 Khán Giả

        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            img.rounded-circle.testimony-avatar(src='https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-9/10426308_851011861712147_8420179247646010024_n.jpg?_nc_cat=105&_nc_oc=AQlSydB_fvxadAEg_LSf4IY-ZrRuVvFiFKfzhm5HQKfcUMX8GAfWIrgniDZDkMiS-AU&_nc_ht=scontent-sin2-2.xx&oh=ce36812a9dca24a6d58ca91c5d52e148&oe=5DC964A0')
          .testimony-content
            | Lại có dịp đến 5B Võ Văn Tần xem kịch. Cảm ơn những thế hệ tiếp nối làm sáng đèn sân khấu tại đây. Cảm ơn sự lao động nghệ thuật chân chính để tiếp tục cống hiến cho xã hội

          h4.font-weight-bold.mt-2 Tuyết Hoàng
          h6.font-weight-bold.my-3 Khán Giả

        .carousel-item
          .avatar.mx-auto.mb-4
            img.rounded-circle.testimony-avatar(src='https://scontent-sin2-2.xx.fbcdn.net/v/t1.0-9/16105745_610497932492860_7755715376105844425_n.jpg?_nc_cat=108&_nc_oc=AQkRV3IOS-nc63F_fXYYEl9lZRBfqTrTavyBCaeVVfmVKN1XTDQ2rMDk4-NA1QbW5XQ&_nc_ht=scontent-sin2-2.xx&oh=61f07153d1e64f017dbefb6e3494f8ed&oe=5E02E14D')
          .testimony-content
            | Sau khi xem vở kịch Bên đàng dệt mộng , tôi co đi xem một số vở kịch ở rạp khác nhưng phải nói tôi vẫn ấn tưởng diễn viên, cung như sân khấu kịch của 5B gây tôi nhiều cảm xúc chân thật nhất, và đây cung là nơi giúp tôi đến với niềm vui vui nho nhỏ đó chinh là tình yêu đối với kịch! Thank you so much!

          h4.font-weight-bold.mt-2 Hoàng Phú
          h6.font-weight-bold.my-3 Khán Giả

      a.carousel-control-prev(href='#carouselTestimony', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselTestimony', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
