.container
  section.text-center.my-5.pt-5
    h2.h1-responsive.font-weight-bold.my-5(style="text-transform: uppercase;") Đánh Giá

    #carouselTestimony.carousel.slide(data-ride='carousel')
      .carousel-inner
        .carousel-item.active(data-interval='10000')
          .avatar.mx-auto.mb-4
            picture
              source(data-srcset='https://i.imgur.com/0S0XrzV.png' type="image/webp")
              img.rounded-circle.testimony-avatar.lazy(data-src='https://i.imgur.com/0S0XrzV.png')

          .testimony-content
            | Rất thích cách bố trí không gian xem kịch ở đây. Gần gũi, Tương tác, mang lại nhiều cảm xúc cho khán giả

          h4.font-weight-bold.mt-2 Vu Thanh Truc
          h6.font-weight-bold.my-3 Khán Giả
          h4.font-weight-bold.mt-2 ⭐⭐⭐⭐⭐
          
        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            picture
              source(data-srcset='https://i.imgur.com/dbZqokg.png' type="image/webp")
        
              img.rounded-circle.testimony-avatar.lazy(data-src='https://i.imgur.com/dbZqokg.png')
          .testimony-content  
            | mình đã xem nhà hát này từ những năm 1990 , và luôn luôn cảm.thấy hay , ý nghĩa và rất hài lòng

          h4.font-weight-bold.mt-2 Dien Huy
          h6.font-weight-bold.my-3 Khán Giả
          h4.font-weight-bold.mt-2 ⭐⭐⭐⭐⭐


        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            picture
              source(data-srcset='https://i.imgur.com/dbZqokg.png' type="image/webp")

              img.rounded-circle.testimony-avatar.lazy(data-src='https://i.imgur.com/dbZqokg.png')
          .testimony-content  
            | Tùy từng không gian, thời gian và những con người sống trong đam mê nghệ thuật thì chúng ta sẽ có được những tác phẩm với từng mức giá trị khác nhau, có thể rất là lớn và cũng có thể trong một mức độ vừa tầm ( trong khả năng và điều kiện cho phép )....
            br
            | Nhưng dù to, hay nhỏ, hay vừa tầm thì tất cả các tác phẩm nghệ thuật đó cũng điều là thành quả tâm huyết của tất cả những con người sống vì nghệ thuật và chúng ta phải trân quý nó !
          h4.font-weight-bold.mt-2 Thái Vũ
          h6.font-weight-bold.my-3 Khán Giả
          h4.font-weight-bold.mt-2 ❤️❤️❤️❤️❤️


        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            picture
              source(data-srcset='https://i.imgur.com/dbZqokg.png' type="image/webp")

              img.rounded-circle.testimony-avatar.lazy(data-src='https://i.imgur.com/dbZqokg.png')
          .testimony-content  
            | Vở kịch vui vẻ, nhẹ nhàng. ủng hộ sân khấu luôn sáng đèn

          h4.font-weight-bold.mt-2 Nguyễn Khuê 
          h6.font-weight-bold.my-3 Khán Giả
          h4.font-weight-bold.mt-2 ⭐⭐⭐⭐⭐
          
        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            picture
              source(data-srcset='https://i.imgur.com/0S0XrzV.png' type="image/webp")
              img.rounded-circle.testimony-avatar.lazy(data-src='https://i.imgur.com/0S0XrzV.png')
          .testimony-content
            | Hy vọng rằng sân khấu 5B sẽ vẫn tiếp tục sáng tạo khai thác những chủ đề mới mẻ, để khán giả có dịp thưởng thức những sản phẩm nghệ thuật chất lượng tốt như Diều ơi! nữa nhé!!!^^. Cheer!!!

          h4.font-weight-bold.mt-2 EstherWong ThuyNguyen
          h6.font-weight-bold.my-3 Khán Giả
          h4.font-weight-bold.mt-2 ❤️❤️❤️❤️❤️
          
        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            picture
              source(data-srcset='https://i.imgur.com/0S0XrzV.png' type="image/webp")

              img.rounded-circle.testimony-avatar.lazy(data-src='https://i.imgur.com/0S0XrzV.png')
          .testimony-content
            | Đúng là Sân khấu nhỏ, nhưng cảm xúc thì lúc nào cũng đong đầy, có lúc cười như nắc nẻ, nhưng có lúc thì nước mắt đầy vơi, diễn viên diễn rất hay, nhiệt tình và cảm xúc thật tuyệt vời. Cảm ơn 5B và các diễn viên đã luôn sáng đèn, đã truyền cảm xúc, đã đem đến những phút giây tuyệt vời cho khán giả ❤️

          h4.font-weight-bold.mt-2 Trang Pham
          h6.font-weight-bold.my-3 Khán Giả
          h4.font-weight-bold.mt-2 ❤️❤️❤️❤️❤️

        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            picture
              source(data-srcset='https://i.imgur.com/0S0XrzV.png' type="image/webp")

              img.rounded-circle.testimony-avatar.lazy(data-src='https://i.imgur.com/0S0XrzV.png')
          .testimony-content
            | - Chính kịch hay nhất
            br
            | - Diễn viên tâm huyết với nghề
            br
            |  - Bà bầu Mỹ Uyên tuyệt vời!

          h4.font-weight-bold.mt-2 Nguyễn Quỳnh Nga
          h6.font-weight-bold.my-3 Khán Giả
          h4.font-weight-bold.mt-2 ⭐⭐⭐⭐⭐
          
        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            picture
              source(data-srcset='https://i.imgur.com/0S0XrzV.png' type="image/webp")
              img.rounded-circle.testimony-avatar.lazy(data-src='https://i.imgur.com/0S0XrzV.png')
          .testimony-content
            | Lại có dịp đến 5B Võ Văn Tần xem kịch. Cảm ơn những thế hệ tiếp nối làm sáng đèn sân khấu tại đây. Cảm ơn sự lao động nghệ thuật chân chính để tiếp tục cống hiến cho xã hội

          h4.font-weight-bold.mt-2 Tuyết Hoàng
          h6.font-weight-bold.my-3 Khán Giả
          h4.font-weight-bold.mt-2 ⭐⭐⭐⭐⭐
          
        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            picture
              source(data-srcset='https://i.imgur.com/dbZqokg.png' type="image/webp")

              img.rounded-circle.testimony-avatar.lazy(data-src='https://i.imgur.com/dbZqokg.png')
          .testimony-content
            | Sau khi xem vở kịch Bên đàng dệt mộng , tôi co đi xem một số vở kịch ở rạp khác nhưng phải nói tôi vẫn ấn tưởng diễn viên, cung như sân khấu kịch của 5B gây tôi nhiều cảm xúc chân thật nhất, và đây cung là nơi giúp tôi đến với niềm vui vui nho nhỏ đó chinh là tình yêu đối với kịch! Thank you so much!

          h4.font-weight-bold.mt-2 Hoàng Phú
          h6.font-weight-bold.my-3 Khán Giả
          h4.font-weight-bold.mt-2 ⭐⭐⭐⭐⭐
          
        .carousel-item(data-interval='10000')
          .avatar.mx-auto.mb-4
            picture
              source(data-srcset='https://i.imgur.com/dbZqokg.png' type="image/webp")

              img.rounded-circle.testimony-avatar.lazy(data-src='https://i.imgur.com/dbZqokg.png')
          .testimony-content
            | Tôi đến xem vở kịch này một cách khá là tình cờ, đặc biệt là khi có NSUT Mỹ Uyên đóng vai. "Tiền là số 1" vẫn được bà bầu Mỹ Uyên chọn trung thành với kịch truyền thống, đặc sản của kịch 5b, đủ nhẹ nhàng, đủ sâu lắng và đủ tiếng cười khi muốn khai thác các vấn đề của xã hội hiện nay: đồng tiền là thước đo lòng người. Không quá nặng về chính kịch, tác phẩm rất khéo léo khi đưa ra bài học về đồng tiền trong cuộc sống một cách nhẹ nhàng và rất thực tế.

          h4.font-weight-bold.mt-2 Hoang Nguyen
          h6.font-weight-bold.my-3 Khán Giả          
          h4.font-weight-bold.mt-2 ⭐⭐⭐⭐⭐
          
        .carousel-item
          .avatar.mx-auto.mb-4
            picture
              source(data-srcset='https://i.imgur.com/dbZqokg.png' type="image/webp")

              img.rounded-circle.testimony-avatar.lazy(data-src='https://i.imgur.com/dbZqokg.png')
          .testimony-content
            | Tình lá diêu bông 
            br
            | Một vở diễn hay trong rất nhiều vở diễn hay của sân khấu 5B. Kịch bản nhẹ nhàng, không quá nhiều kịch tính (phần 1) song đầy tính nhân văn. Sân khấu tối giản nhưng thủ pháp dàn dựng rất nghệ thuật, đắt giá từng chi tiết điểm nhấn. Diễn viên tài năng, quá nhập vai cộng thêm không gian sân khấu rất gần khán giả khiến cảm xúc dâng trào theo nhân vật

          h4.font-weight-bold.mt-2 Nguyễn Lê Minh
          h6.font-weight-bold.my-3 Khán Giả                
          h4.font-weight-bold.mt-2 ⭐⭐⭐⭐⭐

      a.carousel-control-prev(href='#carouselTestimony', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselTestimony', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
