.artist-image {
  text-align: center;
}

.artist-name {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}

.artist-details {
  text-align: center;
  font-size: 18px;
}

.artist-profile-image {
  height: 40vw;
  object-fit: cover;
}