.concert-title {
  padding-top: 1em;
  text-transform: capitalize;
}

.concert-time {
  font-weight: bold;
}

.concert-content {
  padding-top: 1em;
}

.button-card {
  padding-top: 0.5em;
}

.concert-title-card-display {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

/* .concert-img-card-display {
  width: 100%;
  height: 25vw;
  object-fit: cover;
} */


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .concert-img-card-display {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  .concert-img-card-display {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }
    /* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    /* Styles */
  .concert-img-card-display {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }  
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}