.image-banner {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.related-event {
  padding-top: 1em;

}

.related-event > h3 {
  color: #828282;
}

.feature-concert {
  padding-top: 3em;
  text-transform: capitalize;
}

.feature-text {
  text-align: center;
}

.card-cover {
  width: 100%;
  padding-top: 1em;
  border-bottom: 1px solid #eee;
}

.cover-image {
  height: 100%;
  border-radius: 2px 2px 0 0;
}

.w-100 {
  width: 100%;
}