.image-banner {
  object-fit: contain;
  height: auto;
}

.related-event {
  padding-top: 1em;

}

.related-event > h3 {
  color: #828282;
}

.feature-concert {
  padding-top: 3em;
  text-transform: capitalize;
}

.feature-text {
  text-align: center;
}

.card-cover {
  width: 100%;
  padding-top: 1em;
  border-bottom: 1px solid #eee;
}

.cover-image {
  height: 100%;
  border-radius: 2px 2px 0 0;
}

.w-100 {
  width: 100%;
}

.testimony-header {
  text-align: center; 
}

.testimony-avatar {
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}


.referral-image-thumbnail {
  width: 100%;
  height: 25vw;
  object-fit: cover; 

}


.concert-marquee-image {
  height: 20vw;
  object-fit: cover;
  display: inline-block;
  padding: 1vw;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
  .logo-large-screen {
    display: none;
  }
  
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
  .logo-small-screen {
    display: none;
  }
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
  .logo-small-screen {
    display: none;
  }
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
  .logo-small-screen {
    display: none;
  }
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
}
