nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/')
    img(src='/style/image/logo.jpg', width='50', height='50', alt='Logo')

  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Home 
      li.nav-item
        a.nav-link(href='/contact') 
          | Contact
          spam.sr-only
      li.nav-item
        a.nav-link(href='/about') About Me
      li.nav-item
        a.nav-link(href='/articles') Articles  
      li.nav-item
        a.nav-link(href='/article/new') Create Article  