.logo-large-screen.text-center.pb-1.pt-1
  img(src='/stylesheet/image/logo.jpg', width='50', height='50', alt='Logo')

nav.navbar.navbar-expand-lg.navbar-light.navbar-custom
  .d-flex.order-0
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false'  aria-label='Toggle navigation')
      span.navbar-toggler-icon
  
  
  a.navbar-brand.mx-auto.d-block.text-center.order-0.order-md-1.w-25(href='/')
    .logo-small-screen
      img(src='/stylesheet/image/logo.jpg', width='50', height='50', alt='Logo')

  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='/')
          | Trang Chủ 
      li.nav-item
        a.nav-link(href='/contact') 
          | Giới Thiệu
          spam.sr-only
      li.nav-item
        a.nav-link(href='/concerts') Vở diễn  

      li.nav-item
        a.nav-link(href='/commencedDates') Lich Diễn
      

      li.nav-item.dropdown
        a#userDropDownMenu.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Tin tức
        .dropdown-menu(aria-labelledby='userDropDownMenu')
          a.dropdown-item(href='/concertNews') Tin tức sân khấu
          a.dropdown-item(href='/referrals') Tin tức ngoài sân khấu
          a.dropdown-item(href='/referralVideos') Video
          
      li.nav-item
        a.nav-link(href='/artists') Nghệ sĩ
        
      if session.userId
        li.nav-item.dropdown
          a#userDropDownMenu.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Quản Lý
          .dropdown-menu(aria-labelledby='userDropDownMenu')
            a.dropdown-item(href='/concert/new') Tạo vở diễn
            a.dropdown-item(href='/commencedDates/new') Tạo xuất diễn
            a.dropdown-item(href='/concertNews/new') Tạo tin tức sân khấu
            a.dropdown-item(href='/referrals/new') Tạo tin tức ngoài sân khấu
            a.dropdown-item(href='/referralVideos/new') Tạo video
            a.dropdown-item(href='/artists/new') Tạo nghệ sĩ
        li.nav-item
          a.nav-link(href='/logout' onclick="return confirm('Are you sure to log out?')") Đăng xuất
      else
        li.nav-item
          a.nav-link(href='/login') Đăng nhập

.spacing.pb-1