nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/')
    img(src='/stylesheet/image/logo.jpg', width='50', height='50', alt='Logo')

  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='/')
          | Home 
      li.nav-item
        a.nav-link(href='/contact') 
          | Contact
          spam.sr-only
      li.nav-item
        a.nav-link(href='/concerts') Concerts  

      if session.userId
        li.nav-item
          a.nav-link(href='/concert/new') Create Concert

        li.nav-item.dropdown
          a#userDropDownMenu.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Concert management
          .dropdown-menu(aria-labelledby='userDropDownMenu')
            a.dropdown-item(href='/concert/new') Create concert content
            a.dropdown-item(href='/referrals/new') Create the referral article
          
        li.nav-item
          a.nav-link(href='/logout' onclick="return confirm('Are you sure to log out?')") Logout
      else
        li.nav-item
          a.nav-link(href='/login') Login

