extends ../layouts/layout

block content
  .container
    .row
      each referralVideo in referralVideos
        .col-sm-12.col-lg-6
          .card.mt-4
            .card-body
              .card-title.text-center
                h3= referralVideo.title

              .card-text.pt-2
                if (referralVideo.srcType == "Youtube")
                  iframe(width="500" height="315" src=referralVideo.url allowfullscreen)
                else
                  .fb-video(data-href=referralVideo.url data-width='500' data-height='315' data-show-text='false' data-allowfullscreen='true')

              if session.userId
                .card-text.pb-2
                  a.btn.btn-primary(href="/referralVideos/" + referralVideo._id + '/edit') Edit

                form(action="/referralVideos/" + referralVideo._id + "?_method=delete" method="POST")
                  button.btn.btn-danger.pt-2(type="submit" value="Submit" onclick="return confirm('Are you sure to delete?')") Delete